---
import Play from "../icons/play.astro";
import Pause from "../icons/pause.astro";
import SpotifyIcon from "../icons/spotify.astro";

interface Props {
    tracks: Array<any>;
}

const { tracks } = Astro.props;
---

<div class="tracklist__container">
    {
        tracks.map(track => (
          <p class="tracklist__item">
            {
              track.previewURL ? (
              <button id={track.id} class="tracklist__play">
                <Play id={"play_" + track.id}/>
                <Pause id={"pause_" + track.id} class:list={"hide"} />
              </button>
              <audio id={"audio_" + track.id} src={track.previewURL} class="audio-preview"/>
              ) :
              null
            }
            <span>{track.trackNumber}. <b>{track.name}</b> | {track.artists.map(a => a.name).join(", ")}</span>
            <a href={track.externalURL.spotify} target="_blank" class="tracklist__spotify-link" title="Open on Spotify">
            <SpotifyIcon class:list={"tracklist__spotify-icon"}/>
            </a>
          </p>
        ))
      }
</div>

<style>

.tracklist__container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 15px 0;
    /*border: dashed 1px #ff10eb;*/
}

.tracklist__item {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px
}

.tracklist__item:hover {
    background-color: #f3f2f2;
}

.tracklist__container > p:not(:last-child) {
    border-bottom: solid 1px #000;
}
</style>

<script>
  let volume = 0.5;
  
  [...document.querySelectorAll('.tracklist__play')].forEach(function(item) {
    item.addEventListener('click', function() {
      let id = item.id;
      let audio = document.getElementById("audio_" + id) as HTMLAudioElement;
      const playIcon = document.getElementById("play_" + id);
      const pauseIcon = document.getElementById("pause_" + id);
      
      if (audio.paused) {
        stopAllAudios(audio);
        audio.play();
        playIcon.classList.add('hide');
        pauseIcon.classList.remove('hide');
      } else {
        audio.pause();
        playIcon.classList.remove('hide');
        pauseIcon.classList.add('hide');
      }
    });
  });
  
  [...document.querySelectorAll('audio')].forEach(function(item) {
    item.addEventListener('ended', function() {
      const playIcon = document.getElementById("play_" + item.id.replace("audio_", ""));
      const pauseIcon = document.getElementById("pause_" + item.id.replace("audio_", ""));
      playIcon.classList.remove('hide');
      pauseIcon.classList.add('hide');
    });
  });
  
  function stopAllAudios(exceptAudio = null) {
    const audios = document.querySelectorAll('audio');
    audios.forEach(function(audio) {
      if (audio !== exceptAudio) {
        const playIcon = document.getElementById("play_" + audio.id.replace("audio_", ""));
        const pauseIcon = document.getElementById("pause_" + audio.id.replace("audio_", ""));
        audio.pause();
        audio.currentTime = 0;
        playIcon.classList.remove('hide');
        pauseIcon.classList.add('hide');
      }
    });
  }
  </script>
  