---
import Layout from "../../layouts/Layout.astro";
import Header from "../../sections/Header.astro";
import Footer from "../../sections/Footer.astro";
import Tracklist from "../../components/Tracklist.astro";
import Button from "../../components/Button.astro";

interface Album {
  title: string;
}

const { albumId } = Astro.params;

const response = await fetch(`${Astro.url.origin}/api/albums/${albumId}`);
const albumData = await response.json();
---

<Layout title={albumData.name + " / white---noise"}>
  <main>
    <Header />
    <div class="albuminfo__container">
      <div>
        <img
          src={albumData.images[0].url}
          alt={albumData.name + " album cover"}
          class="albuminfo__cover"
        />
      </div>
      <div class="albuminfo__data">
        <h2 class="albuminfo__name">{albumData.name}</h2>
        <p class="albuminfo__artists">by {albumData.artists.map((x) => x.name).join(", ")}</p>
        <hr>
        <h3>Information:</h3>
        <ul>
          <li>Total tracks: {albumData.totalTracks}</li>
          <li>{albumData.releaseDate}</li>
          <li>{albumData.label}</li>
          <!-- <li>{albumData.copyrights[0].text}</li> -->
        </ul>
        <hr>
        <Button content="Buy album" as="button" variant="primary" />
      </div>
    </div>
    <div class="tracklist">
      <h3>Tracklist</h3>
      <Tracklist tracks={albumData.tracks} />
    </div>
    <Footer />
  </main>
</Layout>

<style>
  .albuminfo__container {
    display: flex;
    justify-content: center;
    gap: 100px
  }

  .albuminfo__cover {
    width: 500px;
  }

  .tracklist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>