---
import Layout from "../../layouts/Layout.astro";
import Tracklist from "../../components/Tracklist.astro";

interface Album {
  title: string;
}

const { albumId } = Astro.params;

const response = await fetch(`${Astro.url.origin}/api/albums/${albumId}`);
const albumData = await response.json();
---

<Layout title={albumData.name + " / white---noise"}>
  <main>
    <div>
      <img
        src={albumData.images[0].url}
        alt={albumData.name + " album cover"}
      />
    </div>
    <div>
      <h2>{albumData.name}</h2>
      <p>by {albumData.artists.map((x) => x.name).join(", ")}</p>
    </div>
    <div>
      <h3>Tracklist</h3>
      <Tracklist tracks={albumData.tracks} />
    </div>
  </main>
</Layout>